<!doctype html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <!-- show any messages that come back with authentication -->
<!--
    <!% if (message && message.length > 0) { %>
        <div class="alert alert-danger"><!%= message %></div>
    <!% } %>
-->


    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Apps</h1>

        <% if ( Object.keys(apps).length > 0) { %>
        <p>Here are your apps:</p>
          <% for ( var app in apps ) { %>
            <p><a href="#"><%= app %></a></p>
            <p><%= app['_id'] %></p>
          <% } %>
        <% } else { %>
        <p>Your don't have any Apps</p>
        <% } %>



      <p>
        <a href="/logout" class="btn btn-default"><span class="fa fa-user"></span> Logout</a>
        <a href="/create" class="btn btn-default"><span class="fa fa-user"></span> Create App</a>
      </p>


    </div>




</div>
</body>
</html>
